// **********[ COLOR VARIABLES ]**********

// colors

$color-primary: #00ccff;
$color-secondary: #ffa500;
$bg-body: #fff;
$bg-navbar: #0091ff;
$bg-footer: #000;
$bg-lightblue: #f0f8ff;

// text-colors

$text-body: #000;
$text-dark: #333;
$text-white: #fff;
$text-gray: #a8a8a8;

// base-colors

$base-white: #fff;
$base-black: #000;
$base-gray: #7b7b7b;

// **********[ COLOR-SHADE VARIABLES ]**********

// color-shades ____define shade varibles using percentage to use in lighten and darken functions

$light: 10;
$dark: 5;
